<h1 class="text-primary text-center"><del>HoaFinder.com</del></h1>
<h1 class="text-primary text-center">HoaHub.com Landing Page</h1>
<p class="text-secondary text-center text-danger">yay look bootstrap :D</p>
<p class="text-secondary text-center text-danger">Retrieve from DB Example: <%= @user.last.username %></p>